In [1]:
import pandas as pd
import numpy as np

In [27]:
dataset2 = [['Milk','Eggs','Cool Drinks'],['Milk','Bread','Eggs','Jam'],['Milk', 'Cool Drinks','Bread','Eggs'],['Eggs','Cool Drinks','Wheat bread','Jam']]

In [28]:
dataset2

[['Milk', 'Eggs', 'Cool Drinks'],
 ['Milk', 'Bread', 'Eggs', 'Jam'],
 ['Milk', 'Cool Drinks', 'Bread', 'Eggs'],
 ['Eggs', 'Cool Drinks', 'Wheat bread', 'Jam']]

In [29]:
from mlxtend.preprocessing import TransactionEncoder

In [30]:
te = TransactionEncoder()

In [31]:
myarray = te.fit(dataset2).transform(dataset2)

In [32]:
df = pd.DataFrame(myarray,columns=te.columns_)

In [33]:
df

   Bread  Cool Drinks  Eggs    Jam   Milk  Wheat bread
0  False         True  True  False   True        False
1   True        False  True   True   True        False
2   True         True  True  False   True        False
3  False         True  True   True  False         True

In [34]:
from mlxtend.frequent_patterns import apriori

In [35]:
Features_Items = apriori(df,min_support=0.1,use_colnames=True)

In [36]:
Features_Items

    support                               itemsets
0      0.50                                (Bread)
1      0.75                          (Cool Drinks)
2      1.00                                 (Eggs)
3      0.50                                  (Jam)
4      0.75                                 (Milk)
5      0.25                          (Wheat bread)
6      0.25                   (Bread, Cool Drinks)
7      0.50                          (Eggs, Bread)
8      0.25                           (Bread, Jam)
9      0.50                          (Bread, Milk)
10     0.75                    (Eggs, Cool Drinks)
11     0.25                     (Cool Drinks, Jam)
12     0.50                    (Cool Drinks, Milk)
13     0.25             (Cool Drinks, Wheat bread)
14     0.50                            (Eggs, Jam)
15     0.75                           (Eggs, Milk)
16     0.25                    (Eggs, Wheat bread)
17     0.25                            (Jam, Milk)
18     0.25                     (Jam, Wheat bread)
19     0.25             (Eggs, Bread, Cool Drinks)
20     0.25             (Bread, Cool Drinks, Milk)
21     0.25                     (Eggs, Bread, Jam)
22     0.50                    (Eggs, Bread, Milk)
23     0.25                     (Bread, Jam, Milk)
24     0.25               (Eggs, Cool Drinks, Jam)
25     0.50              (Eggs, Cool Drinks, Milk)
26     0.25       (Eggs, Cool Drinks, Wheat bread)
27     0.25        (Cool Drinks, Jam, Wheat bread)
28     0.25                      (Eggs, Jam, Milk)
29     0.25               (Eggs, Jam, Wheat bread)
30     0.25       (Eggs, Bread, Cool Drinks, Milk)
31     0.25               (Eggs, Bread, Jam, Milk)
32     0.25  (Eggs, Cool Drinks, Jam, Wheat bread)

In [38]:
Features_Items['length'] = Features_Items['itemsets'].apply(lambda x:len(x))

In [39]:
Features_Items

    support                               itemsets  length
0      0.50                                (Bread)       1
1      0.75                          (Cool Drinks)       1
2      1.00                                 (Eggs)       1
3      0.50                                  (Jam)       1
4      0.75                                 (Milk)       1
5      0.25                          (Wheat bread)       1
6      0.25                   (Bread, Cool Drinks)       2
7      0.50                          (Eggs, Bread)       2
8      0.25                           (Bread, Jam)       2
9      0.50                          (Bread, Milk)       2
10     0.75                    (Eggs, Cool Drinks)       2
11     0.25                     (Cool Drinks, Jam)       2
12     0.50                    (Cool Drinks, Milk)       2
13     0.25             (Cool Drinks, Wheat bread)       2
14     0.50                            (Eggs, Jam)       2
15     0.75                           (Eggs, Milk)       2
16     0.25                    (Eggs, Wheat bread)       2
17     0.25                            (Jam, Milk)       2
18     0.25                     (Jam, Wheat bread)       2
19     0.25             (Eggs, Bread, Cool Drinks)       3
20     0.25             (Bread, Cool Drinks, Milk)       3
21     0.25                     (Eggs, Bread, Jam)       3
22     0.50                    (Eggs, Bread, Milk)       3
23     0.25                     (Bread, Jam, Milk)       3
24     0.25               (Eggs, Cool Drinks, Jam)       3
25     0.50              (Eggs, Cool Drinks, Milk)       3
26     0.25       (Eggs, Cool Drinks, Wheat bread)       3
27     0.25        (Cool Drinks, Jam, Wheat bread)       3
28     0.25                      (Eggs, Jam, Milk)       3
29     0.25               (Eggs, Jam, Wheat bread)       3
30     0.25       (Eggs, Bread, Cool Drinks, Milk)       4
31     0.25               (Eggs, Bread, Jam, Milk)       4
32     0.25  (Eggs, Cool Drinks, Jam, Wheat bread)       4

In [41]:
Features_Items[(Features_Items['support'] >=0.50) & (Features_Items['length'] >2) ]

    support                   itemsets  length
22      0.5        (Eggs, Bread, Milk)       3
25      0.5  (Eggs, Cool Drinks, Milk)       3