In [10]:
#Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.


def CompanyName(str):
  str= str.replace(".com","")
  l = str.split("@")
  cmpname = l[1]
  return cmpname.upper()

Company_name = CompanyName('Balaji@yahoo.com')
print(Company_name)

YAHOO

In [22]:
#Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

def custom_sorted(str):
  str =str.sort()
  return str

Order = ['without','hello','bag','world']
custom_sorted(Order)
print(Order)

['bag', 'hello', 'without', 'world']

In [62]:
#Create your own Jupyter Notebook for Sets

import functools 
s1 = {1,2,3,3,4,4}
s2 = {'A','B',3,4,6}

s1.union(s2)
print(s1)
print(s1-s2)
print(s2-s1)
#s1.add("Hello")
s2.add("Welcome")
print(s1)
print(s2)

for i in s1:
  print(i)

s2.remove('A')
print(s2)
s2.add("A")
print(s2)

print(list(filter(lambda x:x==2,s1)))
print(list(map(lambda x:x+3 ,filter(lambda x:x==2,s1))))
print(list(map(lambda x:x+3 ,filter(lambda x:x<=3,s1))))
print(functools.reduce(lambda x,y:x+y,list(map(lambda x:x+3 ,filter(lambda x:x<=3,s1)))))

{1, 2, 3, 4}
{1, 2}
{'A', 'B', 6}
{1, 2, 3, 4}
{3, 4, 6, 'Welcome', 'B', 'A'}
1
2
3
4
{3, 4, 6, 'Welcome', 'B'}
{3, 4, 6, 'Welcome', 'B', 'A'}
[2]
[5]
[4, 5, 6]
15

In [100]:
#Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

s1 = {1,2,4,6,3,7,8,1}
s3 =set()
for i in range(1,len(s1)+1):
  l =i
  s3.add(l)
print(list(s3-s1))

[5]

In [112]:
#With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.


l = [12,24,35,24,88,120,155,88,120,155]
myset = set()
for i in l:
  x = i
  myset.add(i)
newList = list(myset)
newList.sort()
print(newList)

[12, 24, 35, 88, 120, 155]