In [1]:
#Research on whether addition, subtraction, multiplication, division, floor division and modulo operations be performed on complex numbers. 
#Based on your study, implement a Python program to demonstrate these operations.

x = 3+4j
y = 2+5j
print(x+y)

(5+9j)

In [2]:
print(x-y)

(1-1j)

In [3]:
print(x/y)

(0.896551724137931-0.24137931034482757j)

In [5]:
print(x*y)

(-14+23j)

In [7]:
#print(x//y)

#Python doesnt support floor division

In [9]:
print(x|y)
print(x&y)
#Python doesnt support floor division

TypeError: ignored

In [11]:
#Research on range() functions and its parameters. Create a markdown cell and write in your own
#words (no copy-paste from google please) what you understand about it. Implement a small
#program of your choice on the same.

Range () need need start and stop point

Range() can have start and stop and incremental number

For Range() start number should be lesser than stop number

For Range() start will be considered and End number not be considered as python start with 0 index

In [16]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [22]:
for i in range(12,20,2):
  print(i)

12
14
16
18

In [32]:
#Consider two numbers. Perform their subtraction and if the result of subtraction is greater than
#25, print their multiplication result else print their division result.


x =10
y= 12
z =x -y
if z >25:
  print(x*y, "As the result is greater than 25 it is multiplied with:",x, "and" ,y)
else:
  print(x/y,",As the result is not greater than 25 it is divided :",x, "and" ,y)

0.8333333333333334 ,As the result is not greater than 25 it is divided : 10 and 12

In [37]:
#Consider a list of 10 elements of integer values. If the number in the list is divisible by 2, print the result as "square of that number minus 2"

mylist = [2,3,4,21,32,43,5,77,344,332]
for i in mylist:
  if i%2==0:
    print("As the",i,"is divisble by 2, we have square of that number minus 2 so final result is",(i**2)-2)

As the 2 is divisble by 2, we have square of that number minus 2 so final result is 2
As the 4 is divisble by 2, we have square of that number minus 2 so final result is 14
As the 32 is divisble by 2, we have square of that number minus 2 so final result is 1022
As the 344 is divisble by 2, we have square of that number minus 2 so final result is 118334
As the 332 is divisble by 2, we have square of that number minus 2 so final result is 110222

In [47]:
#Consider a list of 10 elements. Print all the elements in the list which are greater than 7 when that number is divided 2.

mylist2 = [2,35,1,14,23,70,45,567,411,3467]
for i in mylist2:
  if i >7 and i%2==0:
    print(i)

14
70