In [5]:
import pandas as pd

In [6]:
dataset = pd.read_excel("C:/Users/kobalaji/Desktop/LetsUpgrade AI-ML/Anova Test_KB.xlsx")

In [7]:
dataset.head()

   Store #  Sales  Promotion  Coupon  Client Rating  Profit
0        1     27  NewsPaper       1              4      17
1        2     47         TV       2              2      16
2        3     43         TV       2              3       2
3        4     29  NewsPaper       1              2      15
4        5     39      Radio       2              1      24

In [152]:
check = pd.crosstab(dataset.Promotion,dataset.Coupon)

In [153]:
dataset['Promotion'].value_counts()

NewsPaper    12
Radio        11
TV            7
Name: Promotion, dtype: int64

In [154]:
import statsmodels.api as sm

In [155]:
from statsmodels.formula.api import ols

In [156]:
model = ols('Sales~C(Promotion)',dataset).fit()

In [157]:
Anova_Test = sm.stats.anova_lm(model, typ =2)

In [158]:
print(Anova_Test)

                   sum_sq    df           F        PR(>F)
C(Promotion)  2082.889827   2.0  107.566635  1.376181e-13
Residual       261.410173  27.0         NaN           NaN

In [159]:
model_2 = ols('Sales~C(Promotion)+C(Coupon)',dataset).fit()

In [160]:
Anova_Test_2 = sm.stats.anova_lm(model_2, typ =2)

In [161]:
print(Anova_Test_2)

                   sum_sq    df           F        PR(>F)
C(Promotion)  2082.889827   2.0  107.566635  1.376181e-13
C(Coupon)     1944.303567   1.0  200.819255  5.053335e-14
Residual       261.410173  27.0         NaN           NaN

In [162]:
Mset = pd.DataFrame(Anova_Test_2)

In [163]:
Mset

                   sum_sq    df           F        PR(>F)
C(Promotion)  2082.889827   2.0  107.566635  1.376181e-13
C(Coupon)     1944.303567   1.0  200.819255  5.053335e-14
Residual       261.410173  27.0         NaN           NaN

In [179]:
Mset['eT sQR'] =Mset[:-1]['sum_sq']/sum(Mset['sum_sq'])

In [180]:
Mset

                   sum_sq    df           F        PR(>F)    eT sQR
C(Promotion)  2082.889827   2.0  107.566635  1.376181e-13  0.485680
C(Coupon)     1944.303567   1.0  200.819255  5.053335e-14  0.453365
Residual       261.410173  27.0         NaN           NaN       NaN

In [164]:
import statsmodels.api as pm
from statsmodels.formula.api import ols

In [165]:
AnovaModel = ols('Profit~C(Promotion)',dataset).fit()

In [166]:
modelCheck = sm.stats.anova_lm(AnovaModel)

In [167]:
modelCheck

                df       sum_sq     mean_sq        F    PR(>F)
C(Promotion)   2.0   296.865584  148.432792  1.72559  0.197131
Residual      27.0  2322.501082   86.018559      NaN       NaN

In [168]:
AnovaModel2 = ols('Profit~C(Coupon)',dataset).fit()

In [169]:
modelCheck2 = sm.stats.anova_lm(AnovaModel2)

In [170]:
modelCheck2

             df       sum_sq    mean_sq         F    PR(>F)
C(Coupon)   1.0   296.450000  296.45000  3.573352  0.069105
Residual   28.0  2322.916667   82.96131       NaN       NaN

In [38]:
import statsmodels.api as sm

In [39]:
from statsmodels.formula.api import ols

In [40]:
model = ols('Sales~C(Promotion)',dataset).fit()

In [41]:
model

In [42]:
oneway = sm.stats.anova_lm(model,typ=2)

In [43]:
oneway

                   sum_sq    df           F        PR(>F)
C(Promotion)  2082.889827   2.0  107.566635  1.376181e-13
Residual       261.410173  27.0         NaN           NaN

In [44]:
def anova_Table(oneway):
    oneway["Et Sqr"] = oneway[:-1]["sum_sq"]/sum(oneway["sum_sq"])
    cols = ['sum_sq',"df",'F','PR(>F)','Et Sqr']
    return oneway[cols]

In [45]:
anova_Table(oneway)

                   sum_sq    df           F        PR(>F)    Et Sqr
C(Promotion)  2082.889827   2.0  107.566635  1.376181e-13  0.888491
Residual       261.410173  27.0         NaN           NaN       NaN